# This file is a template, and might need editing before it works on your project.
# This is a sample GitLab CI/CD configuration file that should run without any modifications.
# It demonstrates a basic 3 stage CI/CD pipeline. Instead of real tests or scripts,
# it uses echo commands to simulate the pipeline execution.
#
# A pipeline is composed of independent jobs that run scripts, grouped into stages.
# Stages run in sequential order, but jobs within stages run in parallel.
#
# For more information, see: https://docs.gitlab.com/ee/ci/yaml/#stages
#
# You can copy and paste this template into a new `.gitlab-ci.yml` file.
# You should not add this template to an existing `.gitlab-ci.yml` file by using the `include:` keyword.
#
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/development/cicd/templates/
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Getting-Started.gitlab-ci.yml

image: node:20.11.1-alpine3.18

variables:
  APP_ENV: development
  
stages:
  - install
  - lint
  - build
  - deploy

install_dependencies:
  stage: install
  script:
    - npm ci
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
    policy: pull-push
  artifacts:
    expire_in: 1 hour
    paths:
      - node_modules/

lint_code:
  stage: lint
  needs: ["install_dependencies"]
  script:
    - npm run lint
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH

build_app:
  stage: build
  needs: ["install_dependencies"]
  script:
    - npm run build 
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
    policy: pull
  artifacts:
    expire_in: 1 day
    paths:
      - .next/
      - public/
      - package.json
  rules:
    - if: $CI_COMMIT_BRANCH

deploy_staging:
  stage: deploy
  needs: ["build_app"]
  environment:
    name: staging
    url: https://staging.domain-anda.com
  script:
    - echo "Deployment script placeholder. Replace with your actual deployment command."
  only:
    - dev

deploy_preview:
  stage: deploy
  needs: ["build_app"]
  environment:
    name: preview/$CI_COMMIT_REF_SLUG 
    on_stop: stop_preview_environment
    url: https://preview-$CI_COMMIT_REF_SLUG.domain-anda.com 
  script:
    - echo "Preview deployment script placeholder. Replace with your actual script (e.g., Vercel preview deployment)."
  rules:
    - if: $CI_COMMIT_BRANCH != "dev" && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      when: always

stop_preview_environment:
  stage: deploy
  when: manual
  environment:
    name: preview/$CI_COMMIT_REF_SLUG
    action: stop
  script:
    - echo "Cleanup script placeholder."
  rules:
    - if: $CI_COMMIT_BRANCH
      when: manual
