image: node:20.11-alpine 
before_script:
  - npm install

stages:
  - lint
  - test
  - security
  - build
  - deploy

unit_test:
  stage: test
  script:
    - npm run test:unit

lint:
  stage: lint
  script:
    - npm run lint

security_scan:
  stage: security
  script:
    - semgrep scan --config auto .

build:
  stage: build
  script:
    - docker build -t app .

deploy_staging:
  stage: deploy
  script:
    - bash deploy.sh staging
  when: manual

deploy_production:
  stage: deploy
  script:
    - bash deploy.sh production
  when: manual