image: node:20.11-alpine 

stages:
  - lint
  - test
  - security
  - build
  - deploy

lint:
  stage: lint
  
  script:
    # 1. Pastikan dependensi sudah terinstal
    - npm install
    # 2. Jalankan lint
    - npm run lint

security_scan:
  stage: security
  script:
    - semgrep scan --config auto .

build:
  stage: build
  script:
    - docker build -t app .

deploy_staging:
  stage: deploy
  script:
    - bash deploy.sh staging
  when: manual

deploy_production:
  stage: deploy
  script:
    - bash deploy.sh production
  when: manual